{% extends 'layout.twig' %}
{% block body %}

    <h1 style = "margin-top: 30px;">Categories</h1>

<div class="form-group" id = "categoryInput" style="margin-top: 20px; margin-bottom: 20px">
    <label for="inputCardNumber">Назва категорії: </label>
    <br>
    <input type="text" class="form-control" id="inputCategoryName" aria-describedby="emailHelp" placeholder="Enter category name">
</div>

    <button type="button" class="btn btn-primary" style="margin-top: 30px; margin-bottom: 30px" onclick="addCategory()">Add category</button>

    <table id="category_table" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Category number</th>
            <th scope="col">Category name</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr id ={{  category.category_number }}>
                {% for key in category %}
                    <td>{{ key }} </td>
                {% endfor %}
                <td><button type="button" class="btn btn-outline-success btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteCategory({{ category.category_number }})">Delete</button> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src ="javascripts/addition.js">
<script src ="javascripts/delition.js">

{% endblock %}


