{% extends 'layout.twig' %}
{% block body %}

    <h1 style = "margin-top: 30px;">Customers</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Card number</th>
            <th scope="col">Surname</th>
            <th scope="col">Name</th>
            <th scope="col">Patronymic</th>
            <th scope="col">Phone number</th>
            <th scope="col">City</th>
            <th scope="col">Zip code</th>
            <th scope="col">Discount</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr id="{{ client.card_number }}">
                {% for key in client %}
                    <td>{{ key }} </td>
                {% endfor %}
                <td>
                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteClient({{ client.card_number }})">Delete</button> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src ="javascripts/delition.js">
        <script src ="javascripts/addition.js">
{% endblock %}