{% extends 'layout.twig' %}
{% block body %}

    <h1 style = "margin-top: 30px;">Manager Queries</h1>

    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Скласти список працівників, що займають посаду касира, відсортованих за прізвищем.
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <button type="submit" onclick="cashiersBySurname()" class="button minimal">Скласти список</button>
                <table id="table1"></table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" onclick="findCategories('category-selector')" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Скласти список товарів, що належать певній категорії, відсортованих за назвою.
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <fieldset id="category-selection">
                    <legend>Оберіть категорію: </legend>
                    <label for="category-selector" class="visually-hidden">Категорія: </label>
                    <select id="category-selector"></select>
                    <button type="submit" onclick="goodsFromCategory2()" class="button minimal">Скласти список</button></fieldset>
                <div id ="table2"></div>                           </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                За прізвищем працівника знайти його телефон та адресу.
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <fieldset id="surname-selection">
                    <legend>Введіть прізвище працівника:</legend>
                    <input type = "text" id="surname-input" name="surname"></input>
                    <button type="submit" onclick="employeeBySurname()" class="button minimal">Знайти</button></fieldset>
                <div id ="table3"></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    Скласти список усіх товарів, відсортованих за назвою.
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button type="submit" onclick="productsSorted()" class="button minimal">Скласти список</button></fieldset>
                    <div id ="table6"></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Скласти список усіх категорій, відсортованих за назвою.
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button type="submit" onclick="categoriesSorted()" class="button minimal">Скласти список</button></fieldset>
                    <div id ="table7"></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading8">
                <button class="accordion-button collapsed" type="button" onclick="findCategories('category-selector-2')" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    Скласти список всіх товарів, що належать певній категорії.
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <fieldset id="category-selection">
                        <legend>Оберіть категорію: </legend>
                        <label for="category-selector-2" class="visually-hidden">Категорія: </label>
                        <select id="category-selector-2"></select>
                        <button type="submit" onclick="goodsFromCategoryNotSorted()" class="button minimal">Скласти список</button></fieldset>
                    <div id ="table8"></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading9">
                <button class="accordion-button collapsed" type="button" onclick="findProducts('product-selector')" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    Скласти список товарів у магазині, що належать певному товару.
                </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <fieldset id="product-selection">
                        <legend>Оберіть товар: </legend>
                        <label for="product-selector" class="visually-hidden">Товар: </label>
                        <select id="product-selector"></select>
                        <button type="submit" onclick="storeProductsOfProduct()" class="button minimal">Скласти список</button></fieldset>
                    <div id ="table9"></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading11">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    За UPC-товару знайти ціну продажу товару, кількість наявних одиниць товару.
                </button>
            </h2>
            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <fieldset id="select-upc">
                        <legend>Введіть UPC:</legend>
                        <input type = "text" id="upc-selector" name="upc"></input>
                        <button type="submit" onclick="productByUpc()" class="button minimal">Знайти</button></fieldset>
                    <table id ="table11" class="table table-hover" style="visibility: hidden">
                        <thead>
                        <tr>
                            <th scope="col">Selling price</th>
                            <th scope="col">Items available</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="selling-price"></td>
                            <td id="items-available"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading12">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    Скласти список усіх акційних товарів, відсортованих за кількістю одиниць товару/ за назвою.
                </button>
            </h2>
            <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <fieldset id="select-prom-sortby">
                        <legend>Сортувати акційні товари за: </legend>
                        <label for="sortby-selector" class="visually-hidden">Сортувати за: </label>
                        <select id="sortby-selector">
                            <option selected value="products_number">кількістю одиниць</option>
                            <option value="product_name">назвою</option>
                        </select>
                        <button type="submit" onclick="promgoods2()" class="button minimal">Скласти список</button></fieldset>
                    <div id ="table12"></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading13">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                    Скласти список усіх не акційних товарів, відсортованих за кількістю одиниць товару/ за назвою.
                </button>
            </h2>
            <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <fieldset id="select-not-prom-sortby">
                        <legend>Сортувати не акційні товари за: </legend>
                        <label for="sortby-not-selector" class="visually-hidden">Сортувати за: </label>
                        <select id="sortby-not-selector">
                            <option selected value="products_number">кількістю одиниць</option>
                            <option value="product_name">назвою</option>
                        </select>
                        <button type="submit" onclick="notpromgoods()" class="button minimal">Скласти список</button></fieldset>
                    <div id ="table13"></div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading22">
                <button class="accordion-button collapsed" type="button" onclick="findCashiers('cashier-selector')" data-bs-toggle="collapse" data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                    Скласти список чеків, видрукуваних певним касиром за певний період часу (з можливістю перегляду куплених товарів, їх к-сті та ціни).
                </button>
            </h2>
            <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="accordion-body">
                        <fieldset id="cashier-selection">
                            <legend>Оберіть касира: </legend>
                            <label for="cashier-selector" class="visually-hidden">Касир: </label>
                            <select id="cashier-selector"></select>
                            <br>
                        <label for="from">Від:</label>
                        <input type="date"  value="2020-07-22"
                               min="2018-01-01" max="2021-04-29" id="date1from" name="from">
                        <label for="to">До:</label>
                        <input type="date" value="2021-04-20"
                               min="2018-01-01" max="2021-04-29" id="date1to" name="to">
                        <button  type="button" onclick="cashierChecks()" >Скласти список</button>
                        <div id = "table22">

                        </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading23">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                    Скласти список чеків, видрукуваних усіма касирами за певний період часу (з можливістю перегляду куплених товарів, їх к-сті та ціни).
                </button>
            </h2>
            <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <label for="from">Від:</label>
                    <input type="date"  value="2020-07-22"
                           min="2018-01-01" max="2021-04-29" id="date1from2" name="from">
                    <label for="to">До:</label>
                    <input type="date" value="2021-04-20"
                           min="2018-01-01" max="2021-04-29" id="date1to2" name="to">
                    <button  type="button" onclick="allCashiersChecks()" >Скласти список</button>
                    <div id = "table23">
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading24">
                <button class="accordion-button collapsed" type="button" onclick="findProducts('product-selector-2')" data-bs-toggle="collapse" data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
                    Визначити загальну кількість одиниць певного товару, проданого за певний період часу.
                </button>
            </h2>
            <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="heading24" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <fieldset id="product-selection-2">
                        <legend>Оберіть товар: </legend>
                        <label for="product-selector-2" class="visually-hidden">Товар: </label>
                        <select id="product-selector-2"></select>
                        <br> <br>
                        <label for="from">Від:</label>
                        <input type="date"  value="2020-07-22"
                               min="2018-01-01" max="2021-04-29" id="date1from3" name="from">
                        <label for="to">До:</label>
                        <input type="date" value="2021-04-20"
                               min="2018-01-01" max="2021-04-29" id="date1to3" name="to">

                        <button type="submit" onclick="soldItemsOfProduct()" class="button minimal">Скласти список</button></fieldset>
                    <div id ="table24"></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading25">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
                    Скласти список усіх постійних клієнтів, що мають карту клієнта, по полях ПІБ, телефон, адреса (якщо вказана).
                </button>
            </h2>
            <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="heading25" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button type="submit" onclick="allClients()" class="button minimal">Скласти список</button></fieldset>
                    <div id ="table25"></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading26">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
                    Скласти список усіх постійних клієнтів, що мають карту клієнта із певним відсотком.
                </button>
            </h2>
            <div id="collapse26" class="accordion-collapse collapse" aria-labelledby="heading26" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <fieldset id="surname-selection">
                        <legend>Введіть відсоток:</legend>
                        <input type = "text" id="percent-input" name="surname"></input>
                        <button type="submit" onclick="clientsByPercent()" class="button minimal">Знайти</button></fieldset>
                    <div id ="table26"></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading27">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse27" aria-expanded="false" aria-controls="collapse27">
                    За UPC-товару знайти ціну продажу товару, кількість наявних одиниць товару, назву та характеристики товару.
                </button>
            </h2>
            <div id="collapse27" class="accordion-collapse collapse" aria-labelledby="heading27" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <fieldset id="select-upc">
                        <legend>Введіть UPC:</legend>
                        <input type = "text" id="upc-selector-2" name="upc"></input>
                        <button type="submit" onclick="productByUpc2()" class="button minimal">Знайти</button></fieldset>
                    <table id ="table27" class="table table-hover" style="visibility: hidden">
                        <thead>
                        <tr>
                            <th scope="col">Selling price</th>
                            <th scope="col">Items available</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Characteristics</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="selling-price-2"></td>
                            <td id="items-available-2"></td>
                            <td id="product-name-2"></td>
                            <td id="characteristics-2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src ="javascripts/managerQueries.js">

{% endblock %}