{% extends 'layout.twig' %}
{% block body %}

    <h1 style = "margin-top: 30px;">Store products</h1>
    <button type="button" class="btn btn-primary" style="margin-top: 30px; margin-bottom: 30px">Add store product</button>
    <table class="table table-hover">
        <thead>
        <tr>

            <th scope="col">UPC</th>
            <th scope="col">UPC prom</th>
            <th scope="col">Product Id</th>
            <th scope="col">Selling price</th>
            <th scope="col">Selling price</th>
            <th scope="col">Products number</th>
            <th scope="col">Promotional product</th>
            <th scope="col">Product name</th>
            <th scope="col">Description</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        {% for store_product in store_products %}
            <tr>

                {% for key in store_product %}
                    <td>{{ key }} </td>
                {% endfor %}
                <td><button type="button" class="btn btn-outline-success btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="">Delete</button> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
