{% extends 'layout.twig' %}
{% block body %}

    <h1 style = "margin-top: 30px;">Store products</h1>

<button type="button" onclick="loadStoreProductAddition('addStoreProductForm','selectProductId')" class="btn btn-info" style="margin-top: 30px; margin-bottom: 30px">Add new</button>

<div id="addStoreProductForm" style="display: none">
<div class="form-group" id = "storeProductInput" style="margin-top: 20px; margin-bottom: 20px">
    <label for="inputStoreProductUpc">Upc: </label>
    <br>
    <input type="text" class="form-control" id="inputStoreProductUpc" aria-describedby="emailHelp" placeholder="Enter upc">
    <br>
    <label for="selectProductId">Select product: </label>
    <select id = "selectProductId"class="form-select" aria-label="Default select example">
    </select>
    <br>
    <label for="inputStoreProductPrice">Selling price: </label>
    <br>
    <input type="text" class="form-control" id="inputStoreProductPrice" aria-describedby="emailHelp" placeholder="Enter selling price">
    <br>
    <label for="inputStoreProductsNumber">Products number: </label>
    <br>
    <input type="text" class="form-control" id="inputStoreProductsNumber" aria-describedby="emailHelp" placeholder="Enter products number">
    <br>
    <label for="selectProductId">Select if the product i promotional: </label>
    <select id = "selectProductId"class="form-select" aria-label="Default select example">
        <option selected value=false>not promotional</option>
        <option value=true>promotional</option>
    </select>
</div>

    <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 30px">Add store product</button>
    <button type="button" onclick="hideForm('addStoreProductForm')" class="btn btn-light" style="margin-top: 10px; margin-bottom: 30px">Hide form</button>
</div>

<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">UPC</th>
            <th scope="col">Product Id</th>
            <th scope="col">Selling price</th>
            <th scope="col">Products number</th>
            <th scope="col">Promotional product</th>
            <th scope="col">Product name</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        {% for store_product in store_products %}
            <tr id = {{  store_product.upc }}>
                {% for key in store_product %}
                    <td>{{ key }}</td>
                {% endfor %}
                <td><button type="button" class="btn btn-outline-success btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteStoreProduct('{{  store_product.upc  }}')">Delete</button> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src ="javascripts/addition.js">
<script src ="javascripts/delition.js">

{% endblock %}
